<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка видео</title>
{#    <link rel="stylesheet" href="{{ asset('assets/styles/video/upload-video-style.css') }}">#}
{#    <script src="{{ asset('assets/styles/video/upload-video.js') }}"></script>#}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
<div class="upload-container">
    <h1>Загрузить видео</h1>

    {% for message in app.flashes('success') %}
        <div class="flash-message flash-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.videoFile) }}
        {{ form_widget(form.videoFile) }}
    </div>

    <button type="submit" class="btn-upload">Загрузить</button>
    {{ form_end(form) }}

    <div class="upload-preview">
        <video id="videoPreview" controls></video>
    </div>
</div>
</body>
</html>